<!DOCTYPE html>
<html lang="es" dir="ltr" ng-app="TVWebsite">
    <head>
        <!-- <script src="lib/jquery.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <link rel="icon" href="images/tecnoLogo.png">
        <title>Tecno Vigilancia</title>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">

        <link rel="stylesheet" href="lib/owlCarousel/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="lib/owlCarousel/dist/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="lib/sweetalert2/dist/sweetalert2.css">
        <link rel="stylesheet" href="lib/w3animation.css">


        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">



        <!-- <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css"> -->
        <link rel="stylesheet" href="css/our.css">
        <link rel="stylesheet" href="css/contact.css">
        <link rel="stylesheet" href="css/products.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <!-- <body oncontextmenu="return false" onmousedown="return false" onselectstart="return false"> -->
    <body class="totalHeight">
        <!-- Navigation Bar -->
        <div class="container-fluid navbar-fixed-top" ng-controller="generalCtrl">
            <div class="row barHeader">
                <!-- TecnoVigilancia Logo -->
                <div class="totalHeight col-xs-7 col-sm-4 col-md-4 col-lg-4 centerPosition verticalCentered">
                    <img class="tecnoLogo" src="images/tecnoLogo4.png" alt="">
                </div>
                <!-- Menu Option into Small, Medium and Large Devices -->
                <div class="totalHeight col-xs-5 col-sm-8 col-md-8 col-lg-8 optionMenuItemsSpace verticalCentered hidden-xs">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="selectOptionColor('tecno')" ui-sref="home">
                        <p class="optionMenu verticalCentered centerPosition" ng-style="op1">TECNO</p>
                    </div>
                    <div class="optionMenuBox col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="selectOptionColor('nosotros')" ui-sref="our">
                        <p class="optionMenu verticalCentered centerPosition" ng-style="op2">NOSOTROS</p>
                    </div>
                    <div class="optionMenuBox col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="selectOptionColor('servicios')" ui-sref="products">
                        <p class="optionMenu verticalCentered centerPosition" ng-style="op3">SERVICIOS</p>
                    </div>
                    <div class="optionMenuBox col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="selectOptionColor('contacto')" ui-sref="contacts">
                        <p class="optionMenu verticalCentered centerPosition" ng-style="op4">CONTACTO</p>
                    </div>
                    <div class="optionMenuBox col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="selectOptionColor('promos')" ui-sref="promos">
                        <p class="optionMenu verticalCentered centerPosition" ng-style="op5">PROMOS</p>
                    </div>
                    <div class="optionMenuBox col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="selectOptionColor('clientes')" ui-sref="customer">
                        <p class="optionMenu verticalCentered centerPosition" ng-style="op6">CLIENTES</p>
                    </div>
                </div>
                <!-- Show Menu Items only into Extra Small Devices -->
                <div class="col-xs-5 visible-xs totalHeight">
                    <!-- Menu Icon from Bootstrap Framework -->
                    <span class="glyphicon glyphicon-menu-hamburger totalHeight menuIcon verticalCentered centerPosition" data-toggle="collapse" data-target="#menuToggle"></span>
                    <!-- Menu Items -->
                    <div class="collapse navbar-collapse menuXSContainer" id="menuToggle">
                        <div class="navbar-nav optionMenuXS verticalCentered centerPosition" ui-sref="home">
                            <p class="withoutMargin">TECNO</p>
                        </div>
                        <hr class="withoutMargin lineBarStyle">
                        <div class="navbar-nav optionMenuXS verticalCentered centerPosition" ui-sref="our">
                            <p class="withoutMargin">NOSOTROS</p>
                        </div>
                        <hr class="withoutMargin lineBarStyle">
                        <div class="navbar-nav optionMenuXS verticalCentered centerPosition" ui-sref="product">
                            <p class="withoutMargin">SERVICIOS</p>
                        </div>
                        <hr class="withoutMargin lineBarStyle">
                        <div class="navbar-nav optionMenuXS verticalCentered centerPosition" ui-sref="contact">
                            <p class="withoutMargin">CONTACTANOS</p>
                        </div>
                        <hr class="withoutMargin lineBarStyle">
                        <div class="navbar-nav optionMenuXS verticalCentered centerPosition" ui-sref="promos">
                            <p class="withoutMargin">PROMOS</p>
                        </div>
                        <hr class="withoutMargin lineBarStyle">
                        <div class="navbar-nav optionMenuXS verticalCentered centerPosition" ui-sref="customer">
                            <p class="withoutMargin">CLIENTES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <ui-view></ui-view>

        <footer  ng-controller="generalCtrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 text-center"  style="border-right:1px solid #275B75">
                        <img class="img-responsive fTecnBrand" src="images/tecnoLogo4.png" alt="">
                        <br>
                        <p class="Landing">
                            <span class="t1">Líder en seguridad electrónica, con el equipo más sofisticado.</span>
                            <span class="t2">&nbsp;Cubriendo necesidades de seguridad</span>
                            <span class="t3">&nbsp;personal, familiar y empresarial</span>
                            <span class="t4">&nbsp;a un precio bajo.</span>
                            <!-- <span class="t1">Líder en seguridad electrónica, con el equipo más sofisticado. Cubriendo necesidades de seguridad</span>
                            <span class="t3" style="display:none">personal, familiar y empresarial</span>
                            <span class="t2">Cubriendo necesidades de seguridad personal, familiar y empresarial a un precio bajo.</span> -->
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-3 col-sm-4 col-xs-4 text-center" style="border-right:1px solid #275B75">
                        <img class="vCuotas" class="img-responsive" src="images/vCuotas.png" alt="">
                    </div>
                    <div class="col-md-4 col-lg-3 text-center hidden-sm cts" style="border-right:1px solid #275B75">
                        <div class="text-center">
                            <strong><p class="colorWhite">CONTÁCTANOS:</p></strong>
                        </div>
                        <div class="text-left">
                            <ul class="cListFooter colorWhite">
                                <li class="linkFoo">- (502) 6636-4810</li>
                                <li class="linkFoo">- (502) 3004-0480</li>
                                <li class="linkFoo">- 5ta. Avenida 3-60 Zona1, Villa Nueva</li>
                                <li class="linkFoo">- Facebook/TecnoVigilanciaGT</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4 text-center">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <img class="img-responsive fTecnBand" src="images/guatemala.png" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <img class="img-responsive fTecnBand" src="images/chile.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>



<a class="hidden-lg hidden-md hidden-sm" href="https://api.whatsapp.com/send?phone=50235410949&text=Bienvenido%20a%20las%20Mejores%20Ofertas">
    <img src="images/WhatsAppLogo.png" alt="" width="60" class="whats">
</a>



        <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
        <script src="lib/sweetalert2/dist/sweetalert2.js"></script>
        <!-- Angular JS -->
        <script src="lib/angular.js"></script>
        <!-- Angular UI Router -->
        <script src="lib/uiRouter.js"></script>
        <!-- Bootstrap Framework -->
        <script src="lib/bootstrap/js/bootstrap.js"></script>
        <!-- Carousel Framework -->
        <script src="lib/owlCarousel/dist/owl.carousel.min.js"></script>
        <script src="js/carouselAnimation.js"></script>
        <!-- Functionality File -->
        <script src="js/script.js"></script>
    </body>
</html>
