<div class="container-fluid" style="margin-top:60px">
    <div class="row underLineOur" style="background:#4BB7B7">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6 w3-animate-right text-justify ">
            <div class="howIAmSpacing">
                <span class="ourTitle">¿QUIENES SOMOS?</span>
                <br><br>
                <span class="ourContentText">
                    <strong>CORPORACIÓN DE INVERSIONES MOZ S.A. / TECNO VIGILANCIA</strong>, inicia
                    sus operaciones con el objetivo principal de integrar servicios que ofrezcan una
                    asistencia total, cubriendo las necesidades de seguridad personal, familiar y empresarial.
                    <br><br>
                    Nuestras Principales Actividades son:
                    <ul>
                        <li>ANÁLISIS DE RIESGOS</li>
                        <li>ASESORÍA Y DISEÑO E INSTALACIÓN DE SISTEMAS DE SEGURIDAD ELECTRÓNICA</li>
                        <li>MANTENIMIENTO PREVENTIVO Y CORRECTIVO</li>
                    </ul>
                    <br>
                    A través de nuestro personal capaz, profesional y confiable, con amplia experiencia en el
                    área de seguridad electrónica.
                    <br><br>
                    Valoramos la inversión de su dinero, ofrecemos el mejor equipo a un bajo costo.

                </span>

            </div>
        </div>
        <div class="hidden-xs col-sm-3 col-md-4 col-lg-6 w3-animate-right">
            <div class=" text-justify verticalCentered centerPosition ourSpacing ourSpacingImage">
                <img class="img-responsive" src="../images/Camera1Our.png" alt="">
            </div>
        </div>
    </div>
    <div class="row underLineOur" style="background:#7C639A">
        <div class="hidden-xs col-sm-6 col-md-4 col-lg-6 w3-animate-left">
            <div class="text-justify verticalCentered centerPosition ourSpacing ourSpacingImage">
                <img class="img-responsive" src="../images/Camera2Our.png" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6 w3-animate-left">
            <div class="text-justify verticalCentered ourSpacing">
                <ul class="listStyle">
                    <li>
                        <span class="ourTitle">VISIÓN</span>
                    </li>
                    <li>
                        <br>
                        <span class="ourContentText">
                            Tecno vigilancia está conformada por un equipo de personas que sueñan la innovación
                            permanente de sus productos para proveer la mejor seguridad electrónica, para lograrlo
                            hemos establecido una cultura de servicio a nuestros clientes, con la finalidad de proporcionarles
                            los mejores productos tecnológicos de seguridad, apoyados por la asesoría profesional para un mejor
                            aprovechamiento de los mismos.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#DB6380">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6">
            <div class="text-justify verticalCentered ourSpacing">
                <ul class="listStyle">
                    <li>
                        <span class="ourTitle">MISIÓN</span>
                    </li>
                    <li>
                        <br>
                        <span class="ourContentText">
                            Somos líderes en el mercado de la tecnología para nuestros clientes y
                            sociedad en general, ofreciendo soluciones integrales de seguridad,
                            diferenciadas por un servicio personalizado, contando con la tecnología más avanzada
                            y asesores profesionales para atenderle con lealtad,
                            respeto y trabajo en equipo, que son valores referentes de nuestra
                            cultura organizacional.
                        </span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="hidden-xs col-sm-6 col-md-4 col-lg-6">
            <div class="text-justify verticalCentered centerPosition ourSpacing ourSpacingImage">
                <img class="img-responsive" src="../images/Camera3Our.png" alt="">
            </div>
        </div>
    </div>
</div>
