<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-4 hidden-xs"style="border:1px solid red">
            <div class="nav-side-menu">
                <div class="brand">Productos</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <!-- First Item -->
                        <li ng-click="opSelect(1)" ng-style="opProductSelected.options[0][1]">
                            <!-- <p>{{opProductSelected.options[0][1]}}</p> -->
                            <i class="fa fa-gift fa-lg"></i>Todos
                        </li>
                        <!-- Second Item -->
                        <li ng-click="opSelect(2)"  data-toggle="collapse" data-target="#products" class="collapsed" ng-style="opProductSelected.options[0][2]">
                            <i class="fa fa-gift fa-lg"></i>Cámaras
                        </li>
                        <!-- <ul class="sub-menu collapse" id="products">
                        <li class="active"><a href="#">CSS3 Animation</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Tabs & Accordions</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">FontAwesome</a></li>
                        <li><a href="#">Slider</a></li>
                        <li><a href="#">Panels</a></li>
                        <li><a href="#">Widgets</a></li>
                        <li><a href="#">Bootstrap Model</a></li>
                        </ul> -->
                        <!-- Third Item -->
                        <li ng-click="opSelect(3)" data-toggle="collapse" data-target="#service" class="collapsed" ng-style="opProductSelected.options[0][3]">
                            <i class="fa fa-globe fa-lg"></i>Sistemas de Grabación Digital
                        </li>
                        <!-- <ul class="sub-menu collapse" id="service">
                        <li>New Service 1</li>
                        <li>New Service 2</li>
                        <li>New Service 3</li>
                        </ul> -->
                        <!-- Fourth Item -->
                        <li ng-click="opSelect(4)" data-toggle="collapse" data-target="#new" class="collapsed" ng-style="opProductSelected.options[0][4]">
                            <i class="fa fa-car fa-lg"></i>Sistemas de Intrusión
                        </li>
                        <!-- <ul class="sub-menu collapse" id="new">
                        <li>New New 1</li>
                        <li>New New 2</li>
                        <li>New New 3</li>
                        </ul> -->
                        <!-- Fifth Item -->
                        <li ng-click="opSelect(5)" ng-style="opProductSelected.options[0][5]">
                            <i class="fa fa-user fa-lg"></i>Audio Soluciones
                        </li>
                        <!-- Sixth Item -->
                        <li ng-click="opSelect(6)" ng-style="opProductSelected.options[0][6]">
                            <i class="fa fa-users fa-lg"></i>Detectores de Metal
                        </li>
                        <!-- Seventh Item -->
                        <li ng-click="opSelect(7)" ng-style="opProductSelected.options[0][7]">
                            <i class="fa fa-users fa-lg"></i>Control de Acceso y Asistencia
                        </li>
                        <!-- Tenth Item -->
                        <li ng-click="opSelect(8)" ng-style="opProductSelected.options[0][8]">
                            <i class="fa fa-users fa-lg"></i>Control de Rondas
                        </li>
                        <!-- Eleventh Item -->
                        <li ng-click="opSelect(9)" ng-style="opProductSelected.options[0][9]">
                            <i class="fa fa-users fa-lg"></i>Sistemas de Cobro
                        </li>
                        <!-- Twelfth Item -->
                        <li ng-click="opSelect(10)" ng-style="opProductSelected.options[0][10]">
                            <i class="fa fa-users fa-lg"></i>Talanqueras y Barreras
                        </li>
                        <!-- Thirteenth Item -->
                        <li ng-click="opSelect(11)" ng-style="opProductSelected.options[0][11]">
                            <i class="fa fa-users fa-lg"></i>Mallas y Cercas
                        </li>
                    </ul>
                </div>
                <div class="brand">Servicios</div>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 contentlg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="psTitle">Productos y Servicios</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-6 separateProduct">
                        <div class="productContain">
                            <div class="images shapeProduct">
                                <img class="img-responsive productImgDB" src="../images/9ZnpM.png" alt="">
                            </div>
                            <div class="productDescription1 col-md-10 verticalCentered" style="height:50px">
                                <span>Camara</span>
                            </div>
                            <div class="col-md-2 col-lg-2 verticalCentered centerPosition" style="height:50px">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>





                </div>
            </div>

    </div>
</div>
